name: content

on:
  push:
    branches: [ "main" ]
    
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: "context"
        env:
            COMMIT_ID : ${{ github.sha }}
            run: echo "Commit id => $COMMIT_ID"
