name: github-checkout

on:
  push:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
  
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Run pwd
        run: pwd
      - name : Run ls -al
        run : ls -al


